/* Estilo general del navbar */
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #1E3A5F;
}

/* Estilo de la sección de la lista */
.navbar .lista {
    margin-right: 10px;
}

.navbar .lista ul {
    display: flex;
    margin: 0;
    padding: 0;
}

/* Estilo de cada ítem en la lista */
.navbar .lista ul li {
    margin-left: 30px;
    margin-right: 30px;
    list-style: none;
}

/* Estilo de los enlaces */
.navbar .lista ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s ease;
    cursor: pointer;
}

/* Efecto hover de los enlaces */
.navbar .lista ul li a:hover {
    color: #f4a261;
}

/* Estilo de la logo */
.logo a {
    font-size: 30px;
    color: white;
    margin: 0;
    font-weight: bold;
    text-decoration: none;
}

/* Estilo del botón de hamburguesa */
.menu-toggle {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: none; /* Oculto en pantallas grandes */
}

/* Responsividad: menú en dispositivos pequeños */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu-toggle {
        display: block; /* Mostrar en pantallas pequeñas */
        align-self: flex-end; /* Mover a la derecha */
    }

    .navbar .lista {
        width: 100%;
        display: none; /* Ocultar el menú por defecto */
    }

    .navbar .lista.show {
        display: block; /* Mostrar el menú cuando la clase 'show' está presente */
    }

    .navbar .lista ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 10px 0;
    }

    .navbar .lista ul li {
        margin: 10px 0;
    }

    .logo p {
        font-size: 28px;
        margin-bottom: 15px;
    }
}