<nav class="navbar">
    <div class="logo">
        <a class="alogo" href="">CR distribuidora</a>
    </div>

    <button class="menu-toggle" (click)="toggleMenu()">
        ☰
    </button>

    <div class="lista" [ngClass]="{'show': isMenuOpen}">
        <ul>
            <li>
                <a class="txt-nav" (click)="irClientes()">Clientes</a>
            </li>
            <li>
                <a class="txt-nav" (click)="irProductos()">Productos</a>
            </li>
            <li>
                <a class="txt-nav" (click)="irPedidos()">Pedidos</a>
            </li>
            <li>
                <a class="txt-nav" (click)="logout()">Salir</a>
            </li>
        </ul>
    </div>
</nav>
