<nav class="navbar">

    <div class="logo">
        <p>CR distribuidora</p>
    </div>

    <div class="lista">
        <ul>
            <li>
                <a class="txt-nav" (click)="irClientes()">Clientes</a>
            </li>
            <li>
                <a class="txt-nav" (click)="irProductos()">Productos</a>
            </li>
            <li>
                <a (click)="irPedidos()" class="txt-nav" >Pedidos</a>
            </li>

            <li>
                <a class="txt-nav" (click)="logout()" >Salir</a>
            </li>
        </ul>
    </div>

   
</nav>
