<app-navbar></app-navbar>

<section class="resumen">

    <h1>Resumen diario</h1>

    <div class="datos">

        <div class="info-datos"> 
            <p>Pedidos creados en el <br> dia:</p>
            <p class="detalle">{{cantidadpedidosRealizados}}</p>
        </div>

        <div class="info-datos">
            <p>Pedidos entregados en el dia:</p>
            <p class="detalle">{{cantidadpedidosentregados}}</p>
        </div>

        <div class="info-datos">
            <p>Monto total recaudado en el dia:</p>
            <p class="detalle">{{ventasTotales}}</p>
        </div>

       

    </div>

</section>
